@use './functions' as f;

// Colors System

$colors: (
    "very-soft-cyan" : hsl(165, 56%, 74%),
    "dark-cyan": hsl(165, 100%, 26%), 
    "soft-blue": hsl(207, 92%, 76%),
    "very-dark-blue": hsl(207, 100%, 20%),
    "soft-violet": hsl(267, 66%, 60%),
    "white-clr": hsl(0, 0%, 100%),
    "very-dark-gray": hsl(0, 0%, 21%),
    "very-light-gray": hsl(0, 0%, 92%),
    "very-light-gray-mostly-white": hsl(0, 0%, 97%),
    "dark-gray": hsl(0, 0%, 50%),
    "black-clr": hsl(0, 0%, 0%),
    "very-light-pink": hsl(317, 100%, 74%)
);

$font-primary-color: map-get($colors, black-clr) ;
$font-secondary-color: map-get($colors, very-dark-gray) ;
$font-tertiary-color: map-get($colors, white-clr) ;

$background-main-color: map-get($colors, very-light-gray-mostly-white);

$header-background-color: map-get($colors, white-clr) ;

$footer-background-color: map-get($colors, very-dark-gray);
$footer-text-color: $font-tertiary-color;

$body-text-color: $font-primary-color;

$location-icon-color: map-get($colors, very-dark-gray);
$location-text-color: $font-secondary-color;
$location-background-color: map-get($colors, very-light-gray);

$working-icon-color: map-get($colors, dark-gray);
$working-background-color: map-get($colors, white-clr) ;

$restaurants-background-color: $background-main-color ;

$card-background-color: map-get($colors, white-clr);

$label-new-text-color: map-get($colors, dark-cyan);
$label-new-background-color: map-get($colors, very-soft-cyan);

$cta-background-color: linear-gradient(to bottom, map-get($colors, very-light-pink), map-get($colors, soft-violet));
$heart-icon-background-color: linear-gradient(to top, map-get($colors, very-light-pink), map-get($colors, soft-violet));


// Breakpoints
$breakpoints-up: (
    "tablet": 768px,
    "desktop": 1024px
);


// Fonts
$roboto: 'Roboto', sans-serif;
$shrikhand: 'Shrikhand', serif;

$font-weights: (
    "light": 300,
    "regular": 400,
    "medium": 500,
    "bold": 700
);

$font-sizes: (
    "fs-300": f.pxToRem(15),
    "fs-350": f.pxToRem(16),
    "fs-400": f.pxToRem(17),
    "fs-500": f.pxToRem(18),
    "fs-700": f.pxToRem(24),
    "fs-800": f.pxToRem(28),
    "fs-900": f.pxToRem(40)
);
    
