@use '../utils/variables' as v ;
@use '../utils/mixins' as m ;
@use '../utils/functions' as f;
@use '../utils/animations' as * ;
@use 'sass:math';

/* ------------------------------------------------- */
/* RESTAURANTS MENU */ 

$animation-duration : 3000ms ;
$animation-delay: 400ms ; 
$animation-number: 10 ;

.menu {     

    &__background {
        position: relative;
        z-index: 1;

        background-color: v.$background-main-color;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;

        @include m.media-breakpoint-up(tablet) {
            width: 90%;
            max-width: 1055px;
            margin: auto;
        }

        @include m.media-breakpoint-up(desktop) {
            width: 80% ;
        }

        &-header {
            height: 32px;            
            margin-top: -60px ;

            @include m.media-breakpoint-up(tablet) {
                height: 40px;
                margin-top: -50px
            }

            @include m.media-breakpoint-up(desktop) {
                height: 40px;
                margin-top: -40px
            }
        }

        &-body {
            padding: f.pxToRem(5) f.pxToRem(13) f.pxToRem(40) f.pxToRem(13);
            
            @include m.media-breakpoint-up(tablet) {
                padding: f.pxToRem(11) 0 f.pxToRem(40) 0;

                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }

    &__wrapper {

        @include m.media-breakpoint-up(tablet) {
            width: 90%;
            max-width: 634px;
        }
    }       

    &__restaurant-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include m.media-breakpoint-up(tablet) {
            justify-content: center;
        }

        h1 {
            font-family: v.$shrikhand;
            font-size: map-get(v.$font-sizes, fs-800);
            font-weight: map-get(v.$font-weights, regular);
            margin-left: f.pxToRem(4);            
        }
    }

    &__icon {
        margin-right: f.pxToRem(28);
        height: 22px;
        width: 22px; 

        @include m.media-breakpoint-up(tablet) {
            margin-right: 0;
            margin-left: f.pxToRem(24);
        }
    }

    &__starter,
    &__main,
    &__dessert {
        margin: f.pxToRem(40) 0;
    }    

    &__starter h2,
    &__main h2,
    &__dessert h2 {
        font-size: map-get(v.$font-sizes, fs-350);
        font-weight: map-get(v.$font-weights, light);
        text-transform: uppercase;
        margin-bottom: f.pxToRem(21) ;
    }

    &__subtitle-underline {
        text-decoration: underline map-get(v.$colors, very-soft-cyan) solid ;
        text-underline-offset: f.pxToRem(9);
        text-decoration-thickness: f.pxToRem(3);
    }

    &__starter-description > article:not(:last-child),
    &__main-description > article:not(:last-child),
    &__dessert-description > article:not(:last-child) {
        margin-top: f.pxToRem(12);
        margin-bottom: f.pxToRem(12);
    } 
    
    .card {
        display: flex;
        justify-content: space-between;  
        flex: 1 1 auto; 
        
        animation: slide-in-right 3s both ;

        @for $i from 0 to $animation-number {
            &-animation--#{$i} {
                animation-delay: $animation-delay * $i;
            }
        }

        &__content {
            display: flex;
            justify-content: space-between;            

            width: 100%;
            padding: f.pxToRem(15);            
            overflow: hidden;        
            

            h3 {
                font-weight: map-get(v.$font-weights, medium);
                font-size: map-get(v.$font-sizes, fs-500);
            }

            p {
                font-weight: map-get(v.$font-weights, light);
                font-size: map-get(v.$font-sizes, fs-300);
            }

            h3, p {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        &__text {
            min-width: 0;
        }      

        &__price {
            display: flex;
            align-items: flex-end;
            margin-left: f.pxToRem(5);
            
            p {
                color: map-get(v.$colors, very-dark-gray);
                font-size: map-get(v.$font-sizes, fs-300);
                font-weight: map-get(v.$font-weights, bold);
            } 
        }

        &__confirmation-order {
            width: f.pxToRem(59);
            margin-right: f.pxToRem(-60);
            transition: margin-right 350ms cubic-bezier(.38, .24, .01, 1);                       
        }

        &:hover {
            .card__confirmation-order {
                margin-right: 0;
            }
        }
    }
       
    &__button {
        text-align: center;
    }    
}
