/* ----------------------------------------------------- */
/* CSS RESET */
/* Adapted from Josh Comeau's CSS : https://www.joshwcomeau.com/css/custom-css-reset/  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.3;
}

img, svg, picture {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

h1, h2, h3, h4 {
  overflow-wrap: break-word;
}

/* ------------------------------------------------------- */
/* BASE */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: hsl(0deg, 0%, 0%);
}

a {
  color: inherit;
  text-decoration: none;
}

/*---------------------------------------------------------------------- */
/* CARDS */
.card {
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  cursor: pointer;
}
.card--gray {
  background-color: hsl(0deg, 0%, 97%);
}
.card__content {
  padding: 16px 25px 12px 13px;
  display: flex;
  justify-content: space-between;
}
.card h3 {
  margin-bottom: 0.3125rem;
}
.card__icon {
  display: flex;
  align-items: center;
  font-size: 22px;
}

/* ------------------------------------------------------------ */
/* CALL TO ACTION BUTTON */
.cta {
  color: hsl(0deg, 0%, 100%);
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 1;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to bottom, hsl(317deg, 100%, 74%), hsl(267deg, 66%, 60%));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.cta:hover::after {
  opacity: 1;
}
.hero .cta {
  height: 3.125rem;
  width: 13.625rem;
}
.menu .cta {
  height: 3.125rem;
  width: 11.625rem;
}
.cta::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border-radius: 25px;
  background: linear-gradient(to bottom, #ff95e1, #a878e3);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
  opacity: 0;
  z-index: -1;
  transition: opacity 550ms ease-in-out;
}

/* ADD MENU BUTTON */
.add-menu-button {
  background-color: hsl(165deg, 56%, 74%);
  color: hsl(0deg, 0%, 100%);
  font-size: 1.25rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --------------------------------------------------- */
/* NAVIGATION */
.nav ul {
  list-style: none;
}
@media only screen and (min-width: 768px) {
  .nav ul {
    display: flex;
    flex-direction: row;
  }
}
.nav ul > li:not(:last-child) {
  margin-bottom: 0.4375rem;
}
@media only screen and (min-width: 768px) {
  .nav ul > li:not(:last-child) {
    margin-bottom: 0;
    margin-right: 0.625rem;
  }
}
.nav ul li:nth-child(3), .nav ul li:nth-child(4) {
  font-weight: 400;
}
.nav ul span {
  display: inline-block;
  height: 0.8125rem;
  width: 0.75rem;
  font-size: 0.8125rem;
  margin-right: 0.6875rem;
}
@media only screen and (min-width: 768px) {
  .nav ul li:nth-child(2) {
    margin-right: 3.125rem;
  }
}
@media only screen and (min-width: 1024px) {
  .nav ul li:nth-child(4) {
    margin-right: 4.0625rem;
  }
}

/* ------------------------------------------------------ */
/* LABELS */
.label-new {
  color: hsl(165deg, 100%, 26%);
  text-align: center;
  background-color: hsl(165deg, 56%, 74%);
  padding: 0.25rem 0.5625rem;
  border-radius: 2px;
  width: 80px;
}

/* -------------------------------------------------- */
/* LIKE ICON */
.like-icon {
  border: none;
  height: 22px;
  width: 22px;
  background-color: hsl(0deg, 0%, 100%);
  cursor: pointer;
  position: relative;
}
.like-icon i {
  font-size: 1.375rem;
}
.like-icon .heart-fill {
  background: linear-gradient(hsl(267deg, 66%, 60%), hsl(317deg, 100%, 74%));
  background: -webkit-linear-gradient(hsl(267deg, 66%, 60%), hsl(317deg, 100%, 74%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  opacity: 1;
  -webkit-transition: opacity 500ms cubic-bezier(0.34, 0, 0.82, 0.83);
  -moz-transition: opacity 500ms cubic-bezier(0.34, 0, 0.82, 0.83);
  -ms-transition: opacity 500ms cubic-bezier(0.34, 0, 0.82, 0.83);
  -o-transition: opacity 500ms cubic-bezier(0.34, 0, 0.82, 0.83);
  transition: opacity 500ms cubic-bezier(0.34, 0, 0.82, 0.83);
}
.like-icon .heart-outline {
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms cubic-bezier(0.34, 0, 0.82, 0.83);
  -moz-transition: opacity 500ms cubic-bezier(0.34, 0, 0.82, 0.83);
  -ms-transition: opacity 500ms cubic-bezier(0.34, 0, 0.82, 0.83);
  -o-transition: opacity 500ms cubic-bezier(0.34, 0, 0.82, 0.83);
  transition: opacity 500ms cubic-bezier(0.34, 0, 0.82, 0.83);
}
.like-icon:not(:hover) .heart-outline {
  opacity: 1;
}
.like-icon:not(:hover) .heart-fill {
  opacity: 0;
}
.like-icon:hover .heart-outline {
  opacity: 0;
}
.like-icon:hover .heart-fill {
  opacity: 1;
}

/* --------------------------------------------------- */
/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  background-color: hsl(0deg, 0%, 100%);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  height: 3.9375rem;
}
@media only screen and (min-width: 1024px) {
  .header {
    height: 6rem;
  }
}
.header__arrow-back {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: absolute;
  top: calc(50% - 15px);
  left: 2%;
}
.header__arrow-back i {
  font-size: 1rem;
  width: 1.0625rem;
}

/* -------------------------------------------------- */
/* HERO */
.hero {
  background-color: hsl(0deg, 0%, 97%);
  text-align: center;
  padding: 2.4375rem 0 3.5625rem 0;
}
@media only screen and (min-width: 1024px) {
  .hero {
    padding: 1.875rem 0;
  }
}
.hero h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 3.125rem;
}
@media only screen and (min-width: 1024px) {
  .hero h1 {
    font-size: 2.5rem;
  }
}
.hero p {
  color: hsl(0deg, 0%, 21%);
  font-size: 1.125rem;
  font-weight: 300;
  margin: 1rem 1.875rem 0 1.875rem;
}
.hero .cta {
  margin-top: 1.6875rem;
}
.hero-restaurants {
  height: 17.1875rem;
}
@media only screen and (min-width: 768px) {
  .hero-restaurants {
    height: 23.9375rem;
  }
}
.hero-restaurants img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ------------------------------------------------------ */
/* FOOTER */
.footer {
  color: hsl(0deg, 0%, 100%);
  background-color: hsl(0deg, 0%, 21%);
  padding: 1.375rem 1.5625rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media only screen and (min-width: 768px) {
  .footer {
    align-items: flex-end;
  }
}
@media only screen and (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    padding: 1.875rem 1.5625rem;
    height: 7.125rem;
  }
}
.footer h2 {
  font-family: "Shrikhand", serif;
  font-size: 1.125rem;
  font-weight: 400;
}
@media only screen and (min-width: 1024px) {
  .footer h2 {
    margin-right: 1.5625rem;
  }
}

/* ------------------------------------------------ */
/* OHMYFOOD HOMEPAGE  */
/* Wrapper */
.wrapper {
  width: 100%;
  max-width: 1080px;
  padding: 3.125rem 1.125rem 4.1875rem 1.125rem;
}
@media only screen and (min-width: 768px) {
  .wrapper {
    padding: 1.875rem 3.125rem;
    box-sizing: content-box;
  }
}

/* Location Section */
.location {
  color: hsl(0deg, 0%, 21%);
  background-color: hsl(0deg, 0%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

/* Working Section */
.working {
  display: flex;
  justify-content: center;
  background-color: hsl(0deg, 0%, 100%);
}
@media only screen and (min-width: 768px) {
  .working .wrapper {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
}
.working__steps {
  list-style: none;
  counter-reset: working-steps-counter;
  margin-left: 0.75rem;
}
@media only screen and (min-width: 1024px) {
  .working__steps {
    display: flex;
    column-gap: 36px;
  }
}
.working__steps > li {
  counter-increment: working-steps-counter;
  display: block;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .working__steps > li {
    flex: 1 1 auto;
  }
}
.working__steps > li:not(:last-child) {
  margin-bottom: 1.5625rem;
}
@media only screen and (min-width: 1024px) {
  .working__steps > li:not(:last-child) {
    margin-bottom: 0;
  }
}
.working__steps > li::before {
  content: counter(working-steps-counter) "";
  color: hsl(0deg, 0%, 100%);
  font-size: 0.9375rem;
  background-color: hsl(267deg, 66%, 60%);
  height: 24px;
  width: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: calc(50% - 12px);
  left: -12px;
}
.working__steps .card {
  display: flex;
  padding: 1.75rem 0;
  align-items: baseline;
  border-radius: 20px;
}
.working__steps i[data-working-steps-icon=mobile] {
  color: hsl(0deg, 0%, 50%);
  height: 20px;
  width: 13px;
  margin: 0 1.6875rem 0 2.0625rem;
}
.working__steps i[data-working-steps-icon=list] {
  color: hsl(0deg, 0%, 50%);
  height: 16px;
  width: 16px;
  margin: 0 1.6875rem 0 2.0625rem;
}
.working__steps i[data-working-steps-icon=store] {
  color: hsl(267deg, 66%, 60%);
  height: 18px;
  width: 18px;
  margin: 0 1.6875rem 0 2.0625rem;
}

.restaurants h2,
.working h2 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.5625rem;
}

/* Restaurants Section */
.restaurants {
  display: flex;
  justify-content: center;
  background-color: hsl(0deg, 0%, 97%);
}
.restaurants > a {
  width: 100%;
}
.restaurants__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 18px;
}
@media only screen and (min-width: 768px) {
  .restaurants__grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 25px;
    column-gap: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .restaurants__grid {
    row-gap: 50px;
    column-gap: 100px;
  }
}
.restaurants .card__header {
  height: 174px;
  width: 100%;
  position: relative;
}
.restaurants .card__header img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.restaurants .card__header .label-new {
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px 12px 0 0;
}
.restaurants .card__content {
  align-items: center;
}
.restaurants .card__content h3 {
  font-size: 1.125rem;
  font-weight: 700;
}
.restaurants .card__content p {
  font-size: 1.0625rem;
  font-weight: 300;
}

/*------------------------------------------------------ */
/* Slide in right */
@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  65% {
    transform: translateX(3%);
    animation-timing-function: cubic-bezier(0.53, -0.01, 0.46, 0.9);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
/* ------------------------------------------------- */
/* RESTAURANTS MENU */
.menu__background {
  position: relative;
  z-index: 1;
  background-color: hsl(0deg, 0%, 97%);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
@media only screen and (min-width: 768px) {
  .menu__background {
    width: 90%;
    max-width: 1055px;
    margin: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .menu__background {
    width: 80%;
  }
}
.menu__background-header {
  height: 32px;
  margin-top: -60px;
}
@media only screen and (min-width: 768px) {
  .menu__background-header {
    height: 40px;
    margin-top: -50px;
  }
}
@media only screen and (min-width: 1024px) {
  .menu__background-header {
    height: 40px;
    margin-top: -40px;
  }
}
.menu__background-body {
  padding: 0.3125rem 0.8125rem 2.5rem 0.8125rem;
}
@media only screen and (min-width: 768px) {
  .menu__background-body {
    padding: 0.6875rem 0 2.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (min-width: 768px) {
  .menu__wrapper {
    width: 90%;
    max-width: 634px;
  }
}
.menu__restaurant-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .menu__restaurant-title {
    justify-content: center;
  }
}
.menu__restaurant-title h1 {
  font-family: "Shrikhand", serif;
  font-size: 1.75rem;
  font-weight: 400;
  margin-left: 0.25rem;
}
.menu__icon {
  margin-right: 1.75rem;
  height: 22px;
  width: 22px;
}
@media only screen and (min-width: 768px) {
  .menu__icon {
    margin-right: 0;
    margin-left: 1.5rem;
  }
}
.menu__starter, .menu__main, .menu__dessert {
  margin: 2.5rem 0;
}
.menu__starter h2, .menu__main h2, .menu__dessert h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 1.3125rem;
}
.menu__subtitle-underline {
  text-decoration: underline hsl(165deg, 56%, 74%) solid;
  text-underline-offset: 0.5625rem;
  text-decoration-thickness: 0.1875rem;
}
.menu__starter-description > article:not(:last-child), .menu__main-description > article:not(:last-child), .menu__dessert-description > article:not(:last-child) {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.menu .card {
  display: flex;
  justify-content: space-between;
  -webkit-animation: slide-in-right 3s both;
  animation: slide-in-right 3s both;
}
.menu .card-animation--0 {
  animation-delay: 0ms;
}
.menu .card-animation--1 {
  animation-delay: 400ms;
}
.menu .card-animation--2 {
  animation-delay: 800ms;
}
.menu .card-animation--3 {
  animation-delay: 1200ms;
}
.menu .card-animation--4 {
  animation-delay: 1600ms;
}
.menu .card-animation--5 {
  animation-delay: 2000ms;
}
.menu .card-animation--6 {
  animation-delay: 2400ms;
}
.menu .card-animation--7 {
  animation-delay: 2800ms;
}
.menu .card-animation--8 {
  animation-delay: 3200ms;
}
.menu .card__content {
  padding: 0.9375rem;
  width: 100%;
  overflow: hidden;
  flex: 1 1 auto;
}
.menu .card__content h3 {
  font-weight: 500;
  font-size: 1.125rem;
}
.menu .card__content p {
  font-weight: 300;
  font-size: 0.9375rem;
}
.menu .card__content h3, .menu .card__content p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu .card__text {
  min-width: 0;
}
.menu .card__confirmation-order {
  display: flex;
  transform: translateX(59px);
  transition: transform 1.5s cubic-bezier(0.38, 0.24, 0.01, 1);
}
.menu .card__price {
  display: flex;
  align-items: flex-end;
  margin-left: -3.75rem;
  margin-right: 5px;
  padding-bottom: 0.9375rem;
  padding-right: 0.9375rem;
}
.menu .card__price p {
  color: hsl(0deg, 0%, 21%);
  font-size: 0.9375rem;
  font-weight: 700;
}
.menu .card__validation-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
}
.menu .card:hover .card__confirmation-order {
  transform: translateX(0);
}
.menu__button {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
