@use '../utils/variables' as v;
@use '../utils/functions' as f;


/* -------------------------------------------------- */
/* LIKE ICON */

.like-icon {
    border: none;
    height: 22px;
    width: 22px;
    background-color: transparent;
    cursor: pointer;
    position: relative;

    i {
        font-size: f.pxToRem(22);
    }

    .heart-fill {
        background: linear-gradient(map-get(v.$colors, soft-violet), map-get(v.$colors, very-light-pink));
        background: -webkit-linear-gradient(map-get(v.$colors, soft-violet), map-get(v.$colors, very-light-pink));
        background-clip: text;        
        -webkit-background-clip: text;       
        -webkit-text-fill-color: transparent;

        position: relative;
        opacity: 1;
     
        transition: opacity 500ms cubic-bezier(.34, 0, .82, .83);
    }

    .heart-outline {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;

        background-clip: text;
        -webkit-background-clip: text;         
     
        transition: opacity 500ms cubic-bezier(.34, 0, .82, .83);
    }

    &:not(:hover) {
        & .heart-outline {
            opacity: 1;
        }

        & .heart-fill {
            opacity: 0;
        }
    }

    &:hover {
        & .heart-outline {
            opacity: 0;
        }

        & .heart-fill {
            opacity: 1 ;
        }
    }
}