@use '../utils/variables' as v;
@use '../utils/functions' as f;
@use '../utils/mixins' as m;
@use "sass:map"; 

/* ------------------------------------------------------- */
/* BASE */

body {
    font-family: v.$roboto ;
    font-weight: map-get(v.$font-weights, medium);
    font-size: map-get(v.$font-sizes, fs-350) ;
    color: v.$body-text-color;    
}

a {
    color: inherit;
    text-decoration: none;
}
   

    