@use '../utils/functions' as f ;
@use '../utils/variables' as v ;
@use '../utils/mixins' as m ;

/* --------------------------------------------------- */
/* HEADER */

.header {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 1;

    background-color: v.$header-background-color ;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

    height: f.pxToRem(63);  
    
    @include m.media-breakpoint-up(desktop) {
        height: f.pxToRem(96);
    }

    &__arrow-back {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 30px;
        width: 30px;        

        position: absolute;
        top: calc(50% - 15px);
        left: 2%;

        i {
            font-size: map-get(v.$font-sizes, fs-350);
            width: f.pxToRem(17);
        }
    }    
}